body {
    background-image: url("../images/background2.jpeg")
}

.topSpace{
    height: 35px;
}

.container{   
    background-image: url("../images/parch.png");
    background-repeat: no-repeat;
    background-position: top, center;
    height: 800px;
    width: 800px;
    padding-top: 50px;
}

#gameSpace {
    height: 700px;
    margin-top: 25px;

}

button {
    margin: 3px;
}

h1, h2, h3{
    font-family: 'Seaweed Script', cursive;
}

p, button, h4 {
font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3 {
    margin-top: 20px;
}
